<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel = "stylesheet" type="text/css" href="stylesheet.css">
  </head>
  <body>
    <div class="Fullscreen">
        <div class="container-fluid">
            <div class = "row-12">
                <div class="col-12">
                    <img src="CityExp_Logo.png" class="img-fluid rounded d-block" style="width: 20%; height: 20%">
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="headerPanel rounded mx-auto d-block" style="padding: 0.5%">
                            <h2 class="text-dark" style="font-size: 5vh; text-align: center;"><p><strong>Choose your hero</strong></p></h2>
                    </div>
                </div>
            </div>
           

            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <figure>
                            <img src="trip.jpg" class="img-responsive img-thumbnail rounded d-block" style="width: 100%; margin: 2%; border-width: 1vh; border-color: rgb(99, 35, 183);"  >
                            <button type="button" class="btn btn-warning mx-auto d-block grow" style="text-align: center">
                                    <figcaption class="text-center text-muted" style="font-size: 3vh">traveller</figcaption>
                            </button>
                    </figure>
                </div>
                <div class="col-sm-6 col-md-3">
                    <figure>
                        <img src="sport.jpg"  class="img-responsive img-thumbnail rounded d-block" style="width: 100%; margin: 2%; border-width: 1vh; border-color: rgb(99, 35, 183);"   >
                        <button type="button" class="btn btn-warning mx-auto d-block grow" style="text-align: center">
                                <figcaption class="text-center text-muted" style="font-size: 3vh">sport's man</figcaption>
                        </button>
                    </figure>
                </div>
                <div class="col-sm-6 col-md-3">
                    <figure>
                        <img src="gent.png"  class="img-responsive img-thumbnail rounded d-block" style="width: 100%; margin: 2%; border-width: 1vh; border-color: rgb(99, 35, 183);"  >
                        <button type="button" class="btn btn-warning mx-auto d-block grow" style="text-align: center">
                                <figcaption class="text-center text-muted" style="font-size: 3vh">gentleman</figcaption>
                        </button>
                    </figure>
                </div>
                <div class="col-sm-6 col-md-3">
                    <figure>
                        <img src="hung.png"  class="img-responsive img-thumbnail rounded d-block" style="width: 100%; margin: 2%; border-width: 1vh; border-color: rgb(99, 35, 183);" >
                        <button type="button" class="btn btn-warning mx-auto d-block grow" style="text-align: center">
                                <figcaption class="text-center text-muted" style="font-size: 3vh">foodie</figcaption>
                        </button>
                    </figure>
                </div>
            </div>
        </div>
       
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>