<!doctype html>
<html lang="en">
    <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <link rel = "stylesheet" type="text/css" href="stylesheet.css">
    </head>
    <body>
        <div class="Fullscreen">
            <div class="container-fluid row" style="glyph-orientation-horizontal: unset">
                <div class="col">
                    <img src="CityExp_Logo.png" class="img-fluid rounded d-block" style="width: 20vh; height: 10vh;">
                </div>
                <div class="col">
                    <div class="container-fluid" style="margin:2vh">
                        <button type="button" class="grow btn btn-info btn-sm rounded float-right rounded d-block" style="margin-left:1vh;margin-top:2vh">
                                <h2 class="text" style="font-size: 3vh"> Log Out </h2>
                        </button>
                    </div>
                    <div class="container-fluid" style="margin:2vh">
                        <button type="button" class="grow btn btn-warning btn-sm rounded float-right rounded mx-auto d-block" style="margin-top:2vh">
                                <h2 class="text-muted" style="font-size: 3vh"><i class="fa fa-gears"></i></h2>
                        </button>
                    </div>
                </div>
            </div>

            
            <div class="constainer-fluid">
                <img src="TempAvatar.jpg" class="img-fluid mx-auto d-block" style="margin: 5%; width: 40vh; height: 40vh; border-radius: 50%">
                <div class="container-fluid" style="width:50vh; height: 5vh">
                    <h3 class="text-muted" style="font-size: 3vh; text-align: center;"> Next level: </h3>
                </div>
                <div class="progress mx-auto" style="width:50vh">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" style="margin: 2vh">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="headerPanel rounded mx-auto d-block" style="padding: 0.5%">
                                <h2 class="text-muted" style="font-size: 3vh; text-align: center;"> Seen places: ?? </h2>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="headerPanel rounded mx-auto d-block" style="padding: 0.5%">
                                <h2 class="text-muted" style="font-size: 3vh; text-align: center;"> Star points: ?? </h2>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="headerPanel rounded mx-auto d-block" style="padding: 0.5%">
                                <h2 class="text-muted" style="font-size: 3vh; text-align: center;"> Experience: ?? </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid rounded mx-auto d-block">
                <button type="button" class="grow btn btn-success btn-lg rounded-pill rounded mx-auto d-block align-middle">
                    <h2 class="text" style="font-size: 3vh"> Let's go! </h2>
                </button>
            </div>

        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    </body>
</html>