<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel = "stylesheet" type="text/css" href="stylesheet.css">
    <title>City Exp</title>
  </head>
  <body>
    <div class="Fullscreen align-middle">
        <img src="CityExp_Logo.png" class="img-fluid rounded mx-auto d-block" style="margin: 5%">
        <div class= "container-fluid mx-auto d-block align-middle" >
          
            <div class="headerPanel rounded mx-auto d-block" style="padding: 0.5%">
                <h2 class="text-muted" style="font-size: 3vh; text-align: center;"> Sign in </h2>
            </div>
            <input type="USERNAME" style="width: 50%; margin: 0.5%" class="form-control mx-auto" placeholder="Username" aria-describedby="basic-addon1">
            <input type="PASSWORD" style="width: 50%; margin: 0.5%" class="form-control mx-auto" placeholder="Password" aria-describedby="basic-addon1">
            
            <button type="button" class="btn btn-link float-sm-right grow">Or Register</button>
            <button type="button" class="btn btn-success float-sm-right grow">Go!</button>
            
        </div>
        
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>