.Fullscreen {
    position:absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(190,240,252);
  }
  
.grow { transition: all .2s ease-in-out; }

.grow:hover { transform: scale(1.1); }

.headerPanel {
  background-color: rgb(255,193,7);
}